@media screen and (min-width: 481px) and (max-width: 991.98px) {
    .main {
        width: 80%;

        &__container {
            height: 300px;
    
            &__header {
                margin-bottom: 0;
                img {
                    width: 20%;
                }
                span{
                    font-size: 1em;
                }
            }
    
            &__main {
                margin: 5px 20px;
                width: 45%;
    
                p:first-child {
                    font-size: 0.75em;
                    img{
                        width: 20%;
                    }
                }
    
                p:last-child {
                    font-size: 0.5em;
                    a {
                        font-size: 1em;
                    }
                }
            }
    
            &__footer {
                margin-top: 10px;
    
                &__slider {
    
                    span {
                        font-size: 0.75em;
                    }
                }
    
                a {
                    padding: 5px 10px;
                    font-size: 0.5em;
                }
            }
        }
    }
}